.test-wrap {
  .pop {
    .xi-close {
      display: block;
      text-align: start;
      font-size: 20px;
      padding: 10px;
    }
    .xi-maker {
      font-size: 34px;
    }
    .navwrap {
      text-align: center;
      background-color: #004680;
      position: relative;
      padding: 10px 10px 30px 10px;
      color: #fff;
    }
    .navwrap {
      span {
        font-size: 16px;
        font-weight: 600;
        color: black;
      }
    }

    .branchtext {
      box-shadow: 1px 1px 1px 0.5px darkgrey;
      background: #fff;
      border-radius: 30px;
      position: absolute;
      left: 50%;
      bottom: -1.5rem;
      transform: translateX(-50%);
      padding: 10px 10px;
      width: calc(100% - 4.8rem) !important;
    }
    ul,
    li,
    a {
      list-style: none;
      text-decoration: none;
    }
    .mainwrap {
      margin-top: 40px;
      padding: 0 10px;
    }
    .mainwrap > ul {
      display: flex;
      flex-direction: column;
    }
    .mainwrap > ul li {
      padding: 20px 0;
      font-size: 18px;
      font-weight: 600;
      border-bottom: 1px solid #ebebeb;
      a {
        color: black;
      }
      i {
        float: right;
      }
    }
    .mainwrap ul li.liafter {
      transition: 3s;
    }
    .mainwrap ul li.liafter ul {
      padding: 10px 10px;
      margin-top: 10px;
      background-color: rgb(247, 244, 244);
      display: none;
    }
    .mainwrap ul li.liafter ul li {
      border-bottom: 0;
      font-size: 16px;
      padding: 10px 0;
    }
    .pluss {
      display: block;
    }
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
li {
  list-style: none;
}
html,
body {
  height: 100%;
}
button {
  white-space: nowrap;
  &:disabled {
    opacity: 0.6;
  }
}
.custom-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fafafa;
  .head {
    background: #e1e1e1;
    padding: 10px;
    overflow: auto;
    ul {
      display: flex;
      align-items: center;
      li + li {
        margin-left: 10px;
      }
    }
    button {
      border: 1px solid #ddd;
      background: #fff;
      padding: 8px;
      border-radius: 8px;
      &:focus,
      &:hover {
        border-color: #999;
      }
      .inner {
        position: relative;
        width: 48px;
        &:before {
          content: '';
          display: block;
          padding-top: 100%;
        }
      }
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        //max-height: 100%;
        pointer-events: none;
        transform: translate(-50%, -50%);
      }
      &.reset {
        background-color: #000;
        color: #fff;
      }
    }
  }
  .foot {
    background: #e1e1e1;
    padding: 5px;
    overflow: auto;
    dl {
      padding: 5px;
      display: flex;
      align-items: center;
      + dl {
        margin-top: 10px;
      }
    }
    dt {
      margin-right: 10px;
      min-width: 80px;
    }
    input,
    button {
      height: 24px;
      vertical-align: top;
    }

    .color-wrap {
      display: flex;
      margin-left: -8px;
      margin-right: -8px;
      .color-item,
      .color-add {
        margin: 3px 8px;
      }
      .color-item {
        position: relative;
        display: flex;
        align-items: center;
        input {
          border-radius: 0;
          width: 40px;
          text-align: center;
          border: 1px solid #aaa;
        }
      }
      .color-add {
        padding: 0 10px;
        border: 0 none;
        background: #3182f7;
        color: #fff;
      }
      .color-del {
        background: #000;
        color: #fff;
        margin-left: 3px;
        font-size: 11px;
        padding: 0 3px;
      }
    }
    .file {
      background: #fff;
      border: 1px solid #ddd;
    }
    .file-del {
      padding: 0 10px;
      border: 0 none;
      background: #000;
      color: #fff;
    }
  }
  .body {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card {
    position: relative;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 25px;
    overflow: hidden;
    background: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &:before {
      content: '';
      display: block;
      padding-top: 158%;
    }
    &.save-card {
      border-radius: 0;
      border-color: transparent;
    }
  }
  .card-btn {
    text-align: center;
    margin-top: 10px;
    .save {
      height: 40px;
      padding: 0 20px;
      border: 0 none;
      background: #3182f7;
      color: #fff;
    }
  }
}
.drag-item {
  position: absolute;
  top: 10px;
  left: 10px;
  border: 1px solid transparent;
  user-select: none;
  .inner {
    position: relative;
    cursor: move;
    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }
  img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    //max-height: 100%;
    pointer-events: none;
    transform: translate(-50%, -50%);
  }
  button {
    position: absolute;
    background: #000;
    color: #fff;
    font-size: 10px;
    display: none;
  }
  .del {
    top: -1px;
    right: -1px;
    cursor: pointer;
  }
  .size {
    bottom: -1px;
    right: -1px;
    cursor: nw-resize;
  }
  .rotate {
    bottom: -1px;
    left: -1px;
  }
  &.select {
    border-color: #000;
    button {
      display: block;
    }
  }
}
